apiVersion: v1
kind: Service
metadata:
  name: mirai-marketing
  namespace: mirai
  labels:
    app: mirai-marketing
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: mirai-marketing
