---
# Template for Kratos Database Credentials
# Copy to kratos-db-credentials.yaml and replace $PASSWORD
apiVersion: v1
kind: Secret
metadata:
  name: kratos-db-credentials
  namespace: kratos
type: kubernetes.io/basic-auth
stringData:
  username: kratos
  password: $PASSWORD
