---
# Template for Mirai Database Credentials
# Copy to mirai-db-credentials.yaml and replace $PASSWORD
apiVersion: v1
kind: Secret
metadata:
  name: mirai-db-credentials
  namespace: mirai
type: kubernetes.io/basic-auth
stringData:
  username: mirai
  password: $PASSWORD
